<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .frm.Name }}</title>

    <link rel="stylesheet" href="/static/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // set the timezone field.
                document.getElementById('timezone-offset').value = new Date().getTimezoneOffset();
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                const validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
            setTimeout(function () {
                $("#inserted_alert").alert('close')
            }, 3000)
        })();
    </script>
</head>

{{ define "label"}}
    <label for="{{ .Name }}">
        {{ .Label }}
        {{ if .Required }}
            <span class="text-danger">*</span>
        {{ end }}
    </label>
{{ end }}

{{ define "description" }}
    <div class="small">
        {{.Description}}
    </div>
{{ end }}

<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>{{ .frm.Name }}</h2>
        <p class="lead">{{ .frm.Description }}</p>
    </div>

    <div class="row">
        <div class="col order-md-1">
            {{ if ne .frm.PreviouslyInsertedRecord "" }}
                <div class="alert alert-success alert-dismissible fade show" id="inserted_alert" role="alert">
                    Record saved, record id: {{ .frm.PreviouslyInsertedRecord }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{ end }}

            {{ if ne (index .vals "id") "" }}
                <a href="/{{.frm.TableName}}/list" class="btn btn-secondary mb-3">&lt; Back</a>
            {{ end }}

            <form method="POST" action="" enctype="application/x-www-form-urlencoded" class="needs-validation"
                  novalidate>
                <input type="hidden" name="timezone-offset" id="timezone-offset" value="-600">
                <input type="hidden" name="id" value="{{ index .vals "id" }}">
                {{ $vals := .vals }}
                {{ range .frm.Fields }}
                    {{ if ne .SectionHeading "" }}
                        <h4 class="mb-3">{{.SectionHeading}}</h4>
                    {{end}}
                    {{ if eq .FieldType "text" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <textarea class="form-control"
                                      name="{{.Name}}"
                                      id="{{ .Name }}"
                                      rows="3"
                                      placeholder="{{ .Placeholder }}"
                                      {{ if .Required }}required{{ end }}>{{ index $vals .Name }}</textarea>
                            {{ template "description" . }}
                        </div>
                    {{ else if eq .FieldType "varchar" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <input type="text"
                                   class="form-control"
                                   name="{{.Name}}"
                                   id="{{ .Name }}"
                                   {{ if .Regex }}pattern="{{ .Regex }}"{{ end}}
                                   placeholder="{{ .Placeholder }}"
                                   value="{{ index $vals .Name }}"
                                    {{ if .Required }}required{{ end }}>
                            {{ template "description" . }}
                        </div>
                    {{ else if eq .FieldType "integer" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <input type="number"
                                   class="form-control"
                                   name="{{.Name}}"
                                   id="{{ .Name }}"
                                   placeholder="{{ .Placeholder }}"
                                   pattern="{{ or .Regex "\\d*" }}"
                                   step="1"
                                   value="{{ index $vals .Name }}"
                                   {{ if .Required }}required{{ end }}>
                            {{ template "description" . }}
                        </div>
                    {{ else if eq .FieldType "decimal" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <input type="text"
                                   class="form-control"
                                   name="{{.Name}}"
                                   id="{{ .Name }}"
                                   placeholder="{{ .Placeholder }}"
                                   pattern="{{ or .Regex "[\\d.]*" }}"
                                   value="{{ index $vals .Name }}"
                                   {{ if .Required }}required{{ end }}>
                            {{ template "description" . }}
                        </div>
                    {{ else if eq .FieldType "money" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="{{ .Name }}-addon">$</span>
                                </div>
                                <input type="number"
                                       class="form-control"
                                       name="{{.Name}}"
                                       id="{{ .Name }}"
                                       placeholder="{{ .Placeholder }}"
                                       pattern="{{ or .Regex "\\d+\\.\\d\\d" }}"
                                       step="0.01"
                                       aria-describedby="{{ .Name }}-addon"
                                       value="{{ index $vals .Name }}"
                                       {{ if .Required }}required{{ end }}>
                            </div>
                            {{ template "description" . }}
                        </div>
                    {{ else if eq .FieldType "float" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <input type="text"
                                   class="form-control"
                                   name="{{.Name}}"
                                   id="{{ .Name }}"
                                   placeholder="{{ .Placeholder }}"
                                   pattern="{{ or .Regex "[\\d.]*" }}"
                                   value="{{ index $vals .Name }}"
                                   {{ if .Required }}required{{ end }}>
                            {{ template "description" . }}
                        </div>
                    {{ else if eq .FieldType "boolean" }}
                        <div class="mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="{{.Name}}" id="{{.Name}}"
                                       {{ if eq (index $vals .Name) "1" }}checked{{end}}
                                       value="1">
                                <label class="custom-control-label" for="{{.Name}}">{{.Label}}</label>
                                {{ template "description" . }}
                            </div>
                        </div>
                    {{ else if eq .FieldType "select" }}
                        <div class="mb-3">
                            <label for="{{.Name}}">{{.Label}}</label>
                            <select class="custom-select" id="{{.Name}}" name="{{.Name}}"
                                    {{ if .Required }}required{{ end }}>
                                <option value="">Choose...</option>
                                {{ range .Options }}
                                    <option {{ if eq (index $vals .Name) . }}selected{{end}}>{{ . }}</option>
                                {{ end }}
                            </select>
                            <div class="small">{{.Description}}</div>
                        </div>
                    {{ else if eq .FieldType "radio" }}
                        {{$field := .}}
                        <div class="mb-3">
                            <label class="d-block">{{.Label}} <span class="text-danger">*</span></label>
                            {{ range $i, $opt := .Options }}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="radio"
                                           id="{{$field.Name}}-{{$i}}"
                                           name="{{$field.Name}}"
                                           value="{{$opt}}"
                                           {{ if eq (index $vals $field.Name) $opt }}checked{{end}}
                                            {{ if $field.Required }}required{{ end }}>
                                    <label class="form-check-label" for="{{$field.Name}}-{{$i}}">{{$opt}}</label>
                                </div>
                            {{ end }}
                            <div class="small">{{$field.Description}}</div>
                        </div>
                    {{ else if eq .FieldType "timestamp" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <input class="form-control"
                                   name="{{.Name}}"
                                   id="{{ .Name }}"
                                   placeholder="{{ .Placeholder }}"
                                   type="datetime-local"
                                   value="{{ index $vals .Name }}"
                                   {{ if .Required }}required{{ end }}>
                            {{ template "description" . }}
                        </div>
                    {{ else if eq .FieldType "date" }}
                        <div class="mb-3">
                            {{ template "label" . }}
                            <input class="form-control"
                                   name="{{.Name}}"
                                   id="{{ .Name }}"
                                   placeholder="{{ .Placeholder }}"
                                   type="date"
                                   value="{{ index $vals .Name }}"
                                   {{ if .Required }}required{{ end }}>
                            {{ template "description" . }}
                        </div>
                    {{ end }}
                    {{ if .LinebreakAfter }}
                        <hr class="mb-4">
                    {{ end }}
                {{ end }}

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">saving to: {{ .frm.TableName }}</p>
        <a href="/{{.frm.TableName}}/list" class="btn btn-secondary btn-sm mt-2">View Submissions</a>
    </footer>
</div>


<script src="/static/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="/static/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="/static/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>