<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Name }} - Submissions</title>

    <link rel="stylesheet" href="/static/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>{{ .frm.Name }}</h2>
        <p class="lead">{{ .frm.Description }}</p>
    </div>

    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            {{ range.frm.Fields }}
                {{ if .IncludeInSummary }}
                    <th>{{.Name }}</th>
                {{ end }}
            {{ end }}
            <th></th>
            </thead>
            <tbody>
            {{ $frm := .frm }}
            {{ range .vals }}
                <tr>
                    {{ $row := . }}
                    {{ range $frm.Fields }}
                        {{ if .IncludeInSummary }}
                            <td>{{ index $row .Name }}</td>
                        {{ end }}
                    {{ end }}
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">saving to: {{ .TableName }}</p>
    </footer>
</div>


<script src="/static/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="/static/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="/static/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>